#toolContainer {
	background-color: #BADA55;
	overflow: hidden;
	padding: 5px;
	min-width: 300px;
}

#canvasContainer {
	float: left;
	background-color: #FFFFFF;
}

#CHwrapper {
	overflow: hidden;
}

#jsonToolbarDisplay {
}

.toolbarItem {
	width: 100%;
	padding: 0px;
}

#transcriptionText {
	width: 100%;
	height: 150px;
}

.tpenCanvas {
	float: left;
	position: absolute;
}

#jsonDisplayContainer {
	height: 30%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFFFFF;
}

.toolbarAnnoItem {
	word-wrap: break-word;
	margin: 5px;
	background-color: #AAAAAA;
	width: 100%;
	height: 25%;
}

.toolbarAnnoItemSelected {
	background-color: #AA3333;
}

.annoCharsBoxContainer {
	display: table;
	table-layout: fixed;
}

.toolbarAnnoTextItem {
	display: table-cell;
	text-align: center;
	width: 30%;
}

body {
	background-color: #BADBAD;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-active {
	display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modeButtonPressed{
	background-color: #555555;
}

.unsavedStatus{ 
   padding: 1px 1px;
   background-color: #f44336;
}