#toolContainer {
	background-color: #BADA55;
	overflow: hidden;
	padding: 5px;
}

#canvasContainer {
	float: left;
}

#CHwrapper {
	overflow: hidden;
}

#jsonToolbarDisplay {
}

.toolbarItem {
	width: 90%;
}

.tpenCanvas {
	float: left;
	position: absolute;
}

#jsonDisplayContainer {
	height: 30%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFFFFF;
}

.toolbarAnnoItem {
	word-wrap: break-word;
	margin: 5px;
	background-color: #AAAAAA;
}